/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
main {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Background section styles */
.background-section {
    width: 40%; /* 40% width for the background section */
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-size: cover;
}

.logo-section {
    text-align: center;
}

.logo-section img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.logo-section h1 {
    font-family: 'Norse', sans-serif; /* Use the Norse font */
    font-size: 24px;
    margin-top: 10px;
}

/* Other sections styles */
.content-section,
.form-section,
.account-section {
    width: 60%; /* 60% width for the other three sections */
    height: 100%;
    padding: 20px;
}

/* Form section styles */
fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 20px;
}

.col-6 {
    width: 48%; /* Adjust to accommodate margins and ensure proper spacing */
    margin-right: 2%; /* Adjust to accommodate margins */
    float: left;
}

.col-6:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Account section styles */
.account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-btn {
    background-color: #596D48;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
